<div class="jadesignersPage">
	<div class="jacontainer-outer">
		<div class="jacontainer-inner">
			<div class="jadesigners">
				<div class="col-3 ABC">
				<div class="jaletter">
					<h2 class="jah2">A</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'A' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">B</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'B' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">C</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'C' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-3 DJ">
					<div class="jaletter">
					<h2 class="jah2">D</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'D' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">E</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'E' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">F</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'F' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">G</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'G' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">H</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'H' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">I</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'I' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">J</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'J' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">K</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'K' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-3 LP">
				<div class="jaletter">
					<h2 class="jah2">L</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'L' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">M</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'M' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">N</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'N' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">O</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'O' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">P</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'P' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-3 RZ">
						<div class="jaletter">
					<h2 class="jah2">R</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'R' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">S</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'S' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">T</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'T' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">V</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'V' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="jaletter">
					<h2 class="jah2">Z</h2>
					<ul class="jadesignerList">
						{% for vendor in shop.vendors %}
							{% assign vendor_letter = vendor | slice: 0 %}
							{% if vendor_letter == 'Z' %}
								{% assign vendor_space_replaced = vendor |  replace: " ", "+" %}
								{% assign vendor_link = vendor_space_replaced |  replace: "&", "%26"%}
								<li class="jadesignerList__item"><a class="jalink" href="https://ja-fashionco.myshopify.com/collections/vendors?q={{vendor_link}}">{{vendor}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			</div>
		</div>
		<div class="jacontainer-inner">
			
		</div>
	</div>
</div>

<style>
.swiper {
			width: 100%;
			height: 100vh;
		}

		.jacatalog__slide {
			width: 33%;
			text-align: center;
			font-size: 18px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.jacatalog__slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.swiper {
			margin-left: auto;
			margin-right: auto;
		}
.wrapper {
	display: flex;
	padding: 50px 0;
}

	.jadesigners {  
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
  		grid-template-rows: 1fr;
  		gap: 0px 0px;
  		grid-auto-flow: row;
  		grid-template-areas:
    		"ABC DJ LP RZ";
		}

	.ABC { grid-area: ABC; }

	.DJ { grid-area: DJ; }

	.LP { grid-area: LP; }

	.RZ { grid-area: RZ; }

	.col-3 {
		width: 100%;
	}

	.jaletter{
		display: flex;
	}	

	.jah2 {
		width: 3rem;
		margin-right: 1.5rem;
	}
	
	.jadesigners {
	}

	.jadesignerList {
		display: flex;
		flex-direction: column;
		list-style: none;
		padding: 0;
	}

	.jadesignerList__item {
		display: inline-block;
	}

	.jadesignersPage .jacontainer-outer{
		padding-top: 50px;
		padding-bottom: 0;
		height: 100%;
		min-height: 100% !important;
	
	}

 {
	}

	.jacontainer-inner {
		min-height: 100% !important;
	}


	@media screen and (max-width: 1024px) {
		.jadesigners { 
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			gap: 0px 0px;
			grid-auto-flow: column;
			grid-template-areas:
				"ABC LP" 
				"DJ RZ";
		}

		.col-3 {
			width: 100%;
			padding-left: 1.5rem;
		}
		
	}

	@media screen and (max-width: 480px) {
		.jadesigners .jalink {
			font-size: 1.2rem;
		}
	}

	@media screen and (max-width: 375px) {
		.jadesigners .jah2 {
			width: 2rem;
			font-size: 2rem;
			margin-right: 0rem;
		}

		.jadesigners .jalink {
			font-size: 1rem;
		}
	}
</style>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
	 var swiper = new Swiper(".mySwiper", {
			slidesPerView: 3,
			spaceBetween: 25,
			loop: true,
			pagination: {
				el: ".swiper-pagination",
				clickable: true,
			},
			navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
			},
		});
</script>